<nav class="navbar navbar-light navbar-fixed-top bg-faded">
  <div class="container">
    <button type="button" class="navbar-toggler hidden-md-up" (click)="toggleNavbar()">
      <span class="sr-only">Toggle navigation</span>
      &#9776;
    </button>
    <div id="navbar" [class.collapse]="navbarCollapsed" class="navbar-toggleable-sm">
      <a class="navbar-brand" routerLink="/">PonyRacer</a>
      <div class="nav navbar-nav">
        <a class="nav-item nav-link" routerLink="/races">Races</a>
      </div>
    </div>
  </div>
</nav>