<form (ngSubmit)="register()" [formGroup]="userForm">
  <div class="form-group">
    <div>
      <label for="login" id="login-label">Login</label>
      <input type="text" id="login" class="form-control" formControlName="login"/>
      <div *ngIf="loginCtrl.dirty && loginCtrl.hasError('required')">Login is required</div>
      <div *ngIf="loginCtrl.dirty && loginCtrl.hasError('minLength')">Your login should be at least 3 characters</div>
    </div>
    
    <div formGroupName="passwordForm">
      <div>
        <label for="password" id="password-label">Password</label>
        <input type="password" id="password" class="form-control" formControlName="password"/>
        <div *ngIf="passwordCtrl.dirty && passwordCtrl.hasError('required')">Password is required</div>
      </div>
      
      <div>
        <label for="confirmPassword" id="confirmPassword-label">Password</label>
        <input type="password" id="confirmPassword" class="form-control" formControlName="confirmPassword"/>
        <div *ngIf="passwordForm.dirty && passwordForm.hasError('matchingError')" id="password-matching-error">Your password does not match</div>
      </div>
    </div>
    <div>
      <label for="birthYear" id="birthYear-label">birthYear</label>
      <input type="number" id="birthYear" class="form-control" formControlName="birthYear"/>
      <div *ngIf="birthYearCtrl.dirty && birthYearCtrl.hasError('required')">Birth year is required</div>
      <div *ngIf="birthYearCtrl.dirty && birthYearCtrl.hasError('invalidYear')">This is not a valid year</div>
    </div>

    <button type="submit" [disabled]="!userForm.valid">Let's go!</button>
  </div>
</form>