<div class="text-xs-center" style="margin-top:100px;">
  <h1>Ponyracer <small>Always a pleasure to bet on ponies</small></h1>
</div>
<div class="text-xs-center">
  <a class="btn btn-primary" routerLink="/races">Races</a>
  <a class="btn btn-primary" routerLink="/register">Register</a>
</div>